.form-container {
    height: 600px;
    width: 500px;
    margin: 20px auto;
    border: 1px solid #95a0a7;
    border-radius: 8px;
}

.form-title {
    font-size: 35px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.0025em;
    color: #2a414f;
    text-align: center;
}

.form-control {
    margin-bottom: 20px;
    margin-left: 40px;
}

.form-control label {
    display: block;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.0015em;
    margin-bottom: 10px;
    color: #2A414F;
}

.form-control input {
    width: 415px;
    height: 55px;
    border: 1px solid #95A0A7;
    border-radius: 5px;
    font-size: 1.5em;
    padding-left: 10px;
}